.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
}


.box {
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.upload-area-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}



.uploadlabel {
    width: 100%;
   color: #2B86C5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
    border: 3px dashed #18a7ff82;
    cursor: pointer;
}

    .uploadlabel div {
        font-size: 70px;
        color: #2B86C5;
    }

    .uploadlabel p {
        font-size: 20px;
        color: #2B86C5;
        font-weight: 800;
        font-family: cursive;
    }


.uploaded {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.showfilebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.01px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px;
    #d1d5db3d 0px 0px 0px 1px inset;
}


.showfilebox .left{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:10px;
}


.filetype {
    color: #2B86C5;
    color: #fff;
    padding: 5px 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}



.left h3 {
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.right div {
    color: #2B86C5;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #2B86C5;
    border: 2px solid #2B86C5;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

    .button::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 50px;
        height: 50px;
        border-radius: inherit;
        scale: 0;
        z-index: -1;
        background-color: transparent;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .button:hover::before {
        scale: 3;
    }

    .button:hover {
        color: #2B86C5;
        scale: 1.1;
        box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
    }

    .button:active {
        scale: 1;
    }




